*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.card{
    width: 384px;
    background-color: #1F1F1F;
    margin-left: auto;
    margin-top: 174px;
    margin-right: auto;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 50px;
}

.user-pic{
    width: 88px;
    height: 88px;
    margin-top: 30px;
}
.user-about{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 304;
    gap: 4px;
}
.username{
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}
.userlocation{
    color: #C4F82A;
    font-weight: 700;
    font-size: 14px;
    align-items: center;
}
.userjob{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    align-items:center;
    margin-bottom: 20px;
}
button{
    width: 304px;
    height: 45px;
    border-radius: 8px;
    gap: 8px;
    background-color: #333333;
    border: none;
    margin-bottom: 16px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 12px;
    transition: all 0.5s;
}

button:hover{
    background-color: #C4F82A;
    color: #333;
}

@media(width:375px){
    .card{
        width: 327px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .user-about{
        width: 279px;
        gap: 4px;
    }
    .button{
        width: 279px;
    }
}